name: Docker CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build 22.04
      run: |
        docker build . --pull --build-arg OCIE_VERSION=22.04 --tag bshp/apache2:latest --no-cache
    - name: Push 22.04
      run: |
        docker tag bshp/apache2:latest bshp/apache2:22.04
        docker push bshp/apache2:latest
        docker push bshp/apache2:22.04
    - name: Build Firefly
      run: |
        curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: ${{secrets.WF_TOKEN}}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/bshp/firefly/actions/workflows/build.yml/dispatches \
            -d '{"ref":"master"}'
    - name: Build Walrus
      run: |
        curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: ${{secrets.WF_TOKEN}}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/bshp/walrus/actions/workflows/build.yml/dispatches \
            -d '{"ref":"master"}'
